@charset "UTF-8";
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
 *{-webkit-border-radius: 0px; 

  /* Firefox 1-3.6 */
 -moz-border-radius: 0px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
 border-radius: 0px;

}

.nopadding{padding:0px;}
/*.Cus_card-body h5{ color: #777777;}*/
.color-o{color:#FF9D4E;}
.color-r{color:#D52628;}
.padding-lft{padding-left: 0px !important;}
.padding-rgt{padding-right: 0px !important;}
.input-icon{background-color: #ccc; color: #777; font-size: 20px; right: 1px !important;}

/*---------Upgraded Version----------*/
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: optimizeLegibility;
  line-height: 1; }
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
}

/*-------------------*/
/*-------------New Icon ADDED------------*/

.fa-user-clock:before {
    content: "\f4fd"
}
.fa-chalkboard-teacher:before {
    content: "\f51c"
}
.fa-tasks:before {
    content: "\f0ae"
}
.fa-copy:before {
    content: "\f0c5"
}
 

/*---------------------------------------*/

/*-------------Star Top Header Title------------*/

.ad_top .btn{right:40px;bottom: -16px; float:right; margin-left: 5px;}

@media all and (max-width:767px){
	.ad_top .btn{bottom:0px;}
}
@media all and (max-width:480px){
	.title-bar {padding: 5px 5px 5px 0px;}
	.ad_top .btn{right:30px;}
	.title-bar-title { font-size: 20px;}
	.title-bar-description {font-size: 11px; padding-bottom: 5px;}
}

/*-------------End Top Header Title------------*/

.add_qn .title-bar{background: #fff; padding: 15px;}
.add_qn small{color:#777;}
.add_qn .nav-tabs.nav-justified>.active>a {border-top: 2px solid #D8D8D8;}
.steps strong { font-size: 12px !important; font-weight: normal !important; color: #ccc !important;}
.select-tp { padding:0px 10px 10px;}
.select-tp h5{ margin-top: 0px;}
.select-tp .custom-control-indicator{border-width:3px !important;border-color: #515151; }


.demo-form-wrapper .steps {margin-bottom: 10px;}
.demo-form-wrapper .tab-menu {display:table;width:100%;}
.demo-form-wrapper .nav-tabs { border-bottom:0px; display:table-row; background-color: transparent;}
/*.demo-form-wrapper .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0;
	padding-top: 20px !important; 
	-webkit-box-shadow :5px 0 5px -5px #333; 
	-moz-box-shadow:5px 0 5px -5px #333; 
	box-shadow: 5px 0 5px -5px #333; 
	z-index: 999;}*/
.demo-form-wrapper .nav-tabs > li > a { border: none; color: #515151;background: #EFEFEF;display:block;border-left: 1px solid #d6d6d6; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.demo-form-wrapper .nav-tabs > li:first-child > a{ border-left: none;}
/*.demo-form-wrapper .nav-tabs > li:first-child > a:hover{ border-left:1px solid #ddd;}*/
.demo-form-wrapper .nav-tabs > li.active > a {
	border:1px solid #d6d6d6;  
	background: #fff; 
	border-bottom:none; 
	-webkit-box-shadow :5px 0 5px -5px #333; 
	-moz-box-shadow:5px 0 5px -5px #333; 
	box-shadow: 5px 0 5px -5px #333;
	z-index: 999;
	padding-top: 12px !important;
    
}
.demo-form-wrapper .nav-tabs > li > a:hover{color:#FF9D4E;}
.demo-form-wrapper .tab-pane { padding: /*15px 0*/ 0px; }
.demo-form-wrapper .tab-content{padding:15px}
.demo-form-wrapper .nav-tabs > li  { text-align:center;display:table-cell; border-left: none; float: none;}
/*-------------Start Filter Option----------------------------*/
.overrlay {display: none;}
.filter-opt {position: relative;}
.filter-opt .list-title{margin: 15px -11px;z-index: 999;position: absolute;}
.filter-opt .listing-det{width: 220px; background: #fff; position: absolute; left: 0px;z-index: 20; top: 40px;}
.filter-opt .listing-det:before {
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    left: 5px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.filter-opt .listing-det:before {
    border-bottom-color: #ddd;
    bottom: 100%;
}
.filter-opt .btn-half{ width: 50%; margin: 0px; float: left;}
.filter-opt .btn-full{ width: 100%;}
.filter-opt .dropdown-menu-lg {
    padding: 0;
    width: 220px;
}
.filter-opt .list-group-item { border-radius: 0px;}



/*------------- New Filter Option----------------------------*/
.filter-opt1 {position: relative; float: left;}
.filter-opt1 .list-title{margin: 15px -11px;z-index: 999;position: absolute;}
.filter-opt1 .listing-det{width: 220px; background: #fff; position: absolute; right: 0px;z-index: 20;top:27px; }
.filter-opt1 .listing-det:before {
   /* border-color: transparent;
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    right: 10px;
    pointer-events: none;
    position: absolute;
    width: 0;*/
	border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 8px;
    top: -7px;
}
.filter-opt1 .listing-det:after {
   /* border-bottom-color: #ddd;
    bottom: 100%;*/
	border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 8px;
    top: -6px;
}
.filter-opt1 .btn-half{ width: 50%; margin: 0px; float: left;}
.filter-opt1 .btn-full{ width: 100%;}
.filter-opt1 .dropdown-menu-lg {
    padding: 0;
    width: 220px;
}
.filter-opt1 .list-group-item { border-radius: 0px;}

/*-------------End Filter Option----------------------------*/
/*------------- Table Status Dropdown----------------------------*/
.table .dropdown-menu{z-index: 1024 !important;}
.table .dropdown-menu>li>a {padding:0px 5px;}
.table .dropdown-menu:after {
    border-bottom-color: #ddd !important;
    margin-bottom: 1px !important;
}
/*-------------End Table Status Dropdown----------------------------*/
.show-count{   
    margin-top: 20px;
    text-align: left;
}
.show-count label {
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
}
.show-count span{color:#FF9B43;}
.show-count .cus-select { display: inline-block; width: 65px;}
.Cus_card-body .Cus_card-toggler:before {
    content: "";
}
.pagin { text-align:right;}
.i-size{ margin-right:5px; font-size: 15px; }
a.i-size{color:#777;}
a.i-size:hover{color:#FF9B43;}

.pop-modal .title-bar-title {
    display: block;
    font-size: 20px;
    line-height: 28px;
	font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    color: #777;
}

.pop-modal .title-bar-description{ color:#777;}
.pop-modal .modal-header{ background-color:#F8F8F8;}
.pop-modal .form-group{ margin-bottom: 5px;}
/*.pop-modal .modal-body{ padding: 10px;}*/
@media all and (max-width:480px){
 .pop-modal .modal-header{padding: 10px;}
 .pop-modal .modal-body {padding: 10px;}
 .pop-modal h4{font-size: 14px;}
 .show-count, .pagin { text-align: center;}
}
/*.pop-modal .progress {margin-bottom: 25px;}*/
.pop-modal .progress {margin: 6px 0px;}
.pop-modal .custom-control{padding-left: 0px;}
@media all and (max-width:768px){
.demo-form-wrapper .nav-tabs > li {width: 100% !important; display: block;}
.demo-form-wrapper .nav-tabs > li > a {border-left:none;}
.demo-form-wrapper .nav-tabs > li.active > a, .nav-tabs > li > a:hover { box-shadow: none;padding-top: 10px !important;}
.demo-form-wrapper .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover  {padding-top: 10px !important;}


}
@media all and (max-width:767px){
	.table-responsive {border: none;}
	/*.filter-opt .nav>li>a {
    padding: 0px !important; margin: 0px;
}
.filter-opt .navbar-nav {
    margin:15px -11px !important;
	z-index: 999;
	position: absolute;
}*/
}

  .steps .col-md-1,
  .steps .col-sm-1,
  .steps .col-lg-1  {
    position: relative;
    min-height: 1px;
    
}
 .steps .col-md-1,
  .steps .col-sm-1,
  .steps .col-lg-1  {
  float: left;
}

  .steps .col-md-1,
  .steps .col-sm-1,
  .steps .col-lg-1 {
    width: 12.5%;
  }

@media screen and (max-width: 480px) {
	
	.Cus_card-header { right: 2px;}
    .step-icon {
    font-size: 20px;
    line-height: 40px;
    height: 35px;
    width: 35px;
    }
.demo-form-wrapper .tab-content {
    padding: 10px;
}
	.pop-modal .title-bar-title { font-size:14px;}
}

@media (max-width:1200px) and (min-width:768px) {
	.steps strong { font-size: 10px !important; line-height:1 !important;}
	.steps .step-content{line-height:1 !important; }
}
@media (max-width:1180px) and (min-width:768px) {
 .demo-form-wrapper .nav>li>a { padding: 10px 0px !important;}
}

/* Content library */
.con-lib .card{ border: none;}
.con-lib .card-body{ padding:15px 0px 0px 0px !important;overflow: hidden;
    text-overflow: ellipsis; height: 90px; }
.con-lib .card-title{font-weight: bold; font-family: Roboto, sans-serif;font-size: 13px;}
.con-lib small{ text-align: justify; }
.con-lib .card-image{position: relative;}
.con-lib .card-image .overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 5px;
  text-align: right;
}
.con-lib .card-image:hover .overlay {
  opacity: 1;
}

/* Expert listing */
.expert-list .card{ border: 1px solid #ddd;}
.expert-list .card-body{  padding: 10px !important;}
.expert-list .expert-detail { padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 10px;}

.expert-list .card-title{font-weight: bold; font-family: Roboto, sans-serif;font-size: 13px;}
.expert-list small{ text-align: justify; }
.expert-list .card-image{position: relative; }
.expert-list .card-image img {
    width: 100%;
    height: auto;
}
.expert-list .card-image .overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 18px;
  padding: 5px;
}
.expert-list .card-image:hover .overlay {
  opacity: 1;
}
.bot_icon {text-align: right; top:auto; padding: 5px;}
.video-icon                 {cursor: pointer; background:url(../img/video_btn.png) center center no-repeat;position: absolute; top:0px; bottom: 0px; right:15px; left:15px; text-indent: -9999px;}
.docs-icon                 {cursor: pointer; background:url(../img/docs.png) center center no-repeat;position: absolute; top:0px; bottom: 0px; right:15px; left:15px; text-indent: -9999px;}
.audio-icon                 {cursor: pointer; background:url(../img/audio1.png) center center no-repeat;position: absolute; top:0px; bottom: 0px; right:15px; left:15px; text-indent: -9999px;}


/****** Category Drop Down*****/
.category-dropdown .form-control{text-align: left;}
.category-dropdown .caret{float: right;margin-top:8px; }

.category-dropdown .dropdown-menu:after, .dropdown-menu:before { display: none;}
.category-dropdown .dropdown-menu { margin-top: 0px;border-color: #008AF3;font-size: 12px; padding: 0px; width: 100%; }
.category-dropdown .dropdown-menu>li>a {
    padding: 1px 15px;
	background-color: #008AF3;
	color: #333;
}
.category-dropdown .dropdown-menu>li>a:hover, .category-dropdown.dropdown-menu>li>a:focus { color:#333;}
.category-dropdown .dropdown-menu>.active>a, .category-dropdown .dropdown-menu>.active>a:focus, .category-dropdown .dropdown-menu>.active>a:hover {color:#333;}
.category-dropdown .dropdown-submenu {
    position: relative;
	z-index: 999;
}

.category-dropdown .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
	z-index: 999;
}

.category-dropdown .dropdown-tree > ul{overflow-y: auto;overflow-x: hidden;white-space: nowrap;}
.category-dropdown .dropdown-tree li{list-style: none}
.category-dropdown .dropdown-tree li > i {margin-left: 10px;}
.category-dropdown .dropdown-tree li:hover{ color:#333;}
.category-dropdown .dropdown-tree a{display: inline-block !important;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;text-decoration: none;background:transparent !important; position: relative;}
.category-dropdown .dropdown-tree .arrow{position: absolute;margin-left: -10px;top: 50%; transform: translateY(-50%);}
/*RTL CSS*/
.category-dropdown .rtl-dropdown-tree{direction: rtl !important}
.category-dropdown .rtl-dropdown-tree > ul{right: 0 ; left: unset; text-align: right}
.category-dropdown .rtl-dropdown-tree .arrow{right: 6px}
.category-dropdown .rtl-dropdown-tree li > i {margin-left: 0;margin-right: 5px;}


/****** Style Star Rating*****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 2px;
  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
margin-bottom: 0px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FF9D4E;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FF9D4E;  } 
@media (max-width:1200px) and (min-width:992px) {
	.expert-list .card-image .overlay{font-size: 15px;}
	.expert-list .switch { height:18px; width: 34px; }
    .expert-list .switch-input:checked~.switch-thumb {
    left: 14px;
}
	.expert-list .switch-thumb { height:17px; width: 17px; }
	
}

/***** Start Add Article/Docs/Video/Audio Popup *****/
.upload-sec { padding:50px 20px; background-color:#333;  color:#fff; margin: 0px; }
.upload-sec label, .upload-doc label, .upload-vid label {
    cursor: pointer;
	font-weight: normal;
	
}
.upload-doc {padding:24px 20px; border: 1px dashed #ddd; margin: 29px 15px 0px 0px;}
.upload-vid {margin: 29px 15px 0px 0px;}
@media screen and (max-width: 991px) {
	.upload-doc, .upload-vid { margin: 15px 15px 0px 15px !important;}
}
.pop-modal .demo-form-wrapper{ padding-bottom: 15px !important;}
.upload-vid .tab-pane{padding:0px; }
.upload-vid .tab-content{padding: 10px; border: 1px dashed #ddd;}
.upload-vid .media-description{ font-size: 12px;}
.upload-vid .nav-tabs > li {
    width: 50% !important;display: table-cell;
}
/***** End Add Article/Docs/Video/Audio Popup *****/

/***** Start Edit Article/Docs/Video/Audio Popup *****/
.cover-img {background: url(../img/upload-bg.jpg);background-repeat: no-repeat;background-size: cover;padding:50px 20px;margin: 0px;}
.cover-img label{background-color: rgba(0,0,0,0.5); color: #fff; padding: 15px 10px 10px 10px; margin: 0px !important; cursor: pointer;}
.link-course-panel {margin: 20px 0px;}
.link-course-panel .panel{border-bottom: 1px solid #ddd;}
.link-course-panel .panel-heading{border-radius: 0px; border: 1px solid #ddd;  border-bottom: none;}
.link-course-panel .accordion-toggle:after {
    content: '\f139'; 
    font-size: 18px;
    color: #FF9B35;
    float: right;
	font-family: "FontAwesome";
	background-color:#fff;
}

.link-course-panel .collapsed:after {
    content: "\f13a"; 
}

.link-course-panel .accordion-toggle{ background-color: #fff;}
.link-course-panel .panel-title {margin-top:-18px;z-index: 20; }
.link-course-panel .panel-title>a:hover, .link-course-panel .panel-title>a:active, .link-course-panel .panel-title>a:focus{text-decoration: none;}
.link-course-panel .panel-body{border: 1px solid #ddd; border-top:none !important; padding: 0px 15px 15px;}
/***** End Edit Article/Docs/Video/Audio Popup *****/

@media screen and (min-width: 992px) {
	.padding-r-0{ padding-right: 0px;}
}
/***** Badge *****/
.badge1 {
    border: 1px solid transparent;
    font-size: 6px;
    padding: 2px 3px;
    position: relative;
	top:-2px;
}
.badge1 {
    display: inline-block;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 50%;
}

/***** start Add Learner page css *****/
.select-usr-type {background-color:#E0E0E0; padding: 10px 0px;}
.select-usr-type .custom-control{padding-left: 0px;}
@media screen and (max-width: 480px) {
.select-usr-type .custom-control+.custom-control {
    margin-left: 0px;
}
.mobile-col { width: 30%;}
.mobile-col-2 { width: 45%;}
/*.select-usr-type .custom-control+.custom-control+.custom-control+.custom-control {
    margin-left: 0px !important; 
}*/

.select-usr-type {padding:10px 5px 10px 0px;}
}
.user-detail-heading {margin:15px 0px; border-bottom: 1px solid #ddd; padding-bottom:10px; }
.prof-icon {border: 1px solid #ddd; text-align: center; font-size: 15px; display: table-cell;padding: 5px 10px;}
.media-title{ vertical-align: middle; margin-left: 10px;font-weight: bold;}
.user-avatar {
	margin-top: 15px;
	position: relative;
}
.user-avatar-btn {
	background-color: rgba(0,0,0,.5);
	/*background-color:#FF9D4E;*/
	background-image: none;
	border: none;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 13px;
	height: 28px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 30px
}

.user-avatar-btn:focus, .user-avatar-btn:hover {
	background-color: #FF9D4E;
}
.user-btn-remove {
	background-color: rgba(0,0,0,.5);
	background-image: none;
	border: none;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 13px;
	height: 28px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 32px;
	text-align: center;
	width: 30px
}
.user-btn-remove:focus, .user-btn-remove:hover {
	background-color: #FF9D4E;
}
.user-detail{ background-color: #333;padding: 10px;}
.user-name{ margin-bottom: 20px;}
.user-name h4{text-transform: uppercase;color: #fff; font-weight: normal; font-size: 15px;}
.user-name p, .user-email p, .website p{color:#a6a4a2;}
.user-email h4, .website h4{color: #fff; font-weight: normal; font-size: 13px;}



/*-------Multi Select DropDown with checkbox----------------*/
.select2-results__option {
  padding-right: 20px;
  vertical-align: middle;
}
.select2-dropdown {border-radius: 0px !important;}
.select2-results__option:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 14px;
  width: 14px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle;
 
}
.select2-results__option[aria-selected=true]:before {
  font-family:fontAwesome;
  content: "\f00c";
  color: #fff;
  background-color: #777;
  border: 0;
  display: inline-block;
  padding-left: 1px;
  font-size: 11px;
}
.select2-container--bootstrap .select2-dropdown--above{box-shadow:none;}
.select2-container--bootstrap .select2-results__option{padding:2px 12px; }

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: /*#eaeaeb*/#fff;
	color: #272727;
}
.select2-container--default .select2-selection--multiple {
	margin-bottom: 10px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-radius: 0px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #f77750;
	border-width: 0px;
}
.select2-container--default .select2-selection--multiple {
	border-width: 0px;
}



.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
	display: none !important;
	/* content: "" !important; */
}
.select-icon  .select2-search--dropdown {
	display: none;
}
.select2-container--default .select2-selection--multiple:before {
	font-family:fontAwesome;
    content: '';
    display: block;
    position: absolute;
    border-color: #777 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 6px;
    margin-left: -4px;
    margin-top: -2px;top: 50%;
    width: 0;cursor: pointer
}

.select2-container--open .select2-selection--multiple:before {
	font-family:fontAwesome;
    content: '';
    display: block;
    position: absolute;
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
    height: 0;
    right: 6px;
    margin-left: -4px;
    margin-top: -2px;top: 50%;
    width: 0;cursor: pointer
}
/***** end Add Learner page css *****/

/***** Start Combined Listing page css *****/
.combined-list .tab-pane {padding: 5px 0px;}
.tab-content.combined-list{padding:15px !important;}
.combined-list .Cus_card-header {right: 0px; top:-38px; }
.combined-list .filter-opt .listing-det {left: -12px;}
.combined-list .slider-horizontal{margin: 10px 0px;}
.table-toolbar {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 0 0 #ddd;
	box-shadow: 0 1px 0 0 #ddd;
}
.table-toolbar-tools {
	float: right
}
.table-toolbar:after, .table-toolbar:before {
	content: " ";
	display: table
}
.table-toolbar:after {
	clear: both
}
.refine_mbutton {
    width: 100px;
    height: 100px;
    background: #000 url(../img/icon_filter.png) no-repeat center center;
	background-color: #000;
	color:#9E5E29;
    cursor: pointer;
    position: relative;
	border-top:3px solid #000;
	padding: 8px 18px 10px 18px;
	bottom: 2px !important;
	margin-bottom: 0px !important;
	
}
@media screen and (min-width: 992px) {
.refine_mbutton:hover{
background: #E2E4E4 url(../img/icon_filter_hover.png) no-repeat center center;
border-top:3px solid #FF9D4E;
}
}
.refine_mbutton.active{
background: #E2E4E4 url(../img/icon_filter_hover.png) no-repeat center center;
border-top:3px solid #FF9D4E;
}

/***** end Combined Listing page css *****/

/*------------ Select Box same in all Browser -----------------------*/
.cus-select select {border: 1px solid #ddd; box-sizing: border-box; color: #777; font-size: 13px;/* line-height: 28px;*/  height:34px;  width: 100%; font-weight:normal; border-radius:0px;  padding: 6px 12px; background:#fff; -webkit-appearance: none;}
.cus-select select:focus {
    border-color: #66afe9;
    outline: 0
}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}
.cus-select select option {padding:5px; border-left:1px solid #ccc; border-right:1px solid #56509F; font-weight:normal;}
.cus-select {display: block; padding: 0; position: relative;}
.cus-select:after {background:#fff url("../img/drop.png") no-repeat center 12px; content: ""; height:32px; pointer-events: none; position: absolute; right: 1px; top: 1px; width: 31px;}
/*------------------------End--------------------------*/

/*---------------start responsive table--------------------*/

@media screen and (max-width: 600px) {
/*.table-responsive {overflow-x: hidden;}*/
.table.dataTable {margin-top: 0px;}
.cus-tbl table {
   border: 0;
 }
 .cus-tbl table caption {
   font-size: 1.3em;
 }
 .cus-tbl table thead {
   border: none;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }
.cus-tbl table tr {
border-bottom: 1px solid #ddd;
display: block;
margin-bottom: 15px;
}
.cus-tbl table tr {
border: none;
padding: 0;

}
.cus-tbl table td {
border-bottom: none;
display: block;
text-align: right;
min-height: 30px;
}
 .cus-tbl table td:before {
   /*
   * aria-label has no advantage, it won't be read inside a table
   content: attr(aria-label);
   */
   content: attr(data-label);
   float: left;
   font-weight: bold;
   text-transform: capitalize;
 }
 .cus-tbl table td:last-child {
   border-bottom: 2px solid #ddd;
 }
}
/*---------------End responsive table--------------------*/

/*---------------Start Team Page--------------------*/
.steps .col-md-5,
  .steps .col-sm-5,
  .steps .col-lg-5  {
    position: relative;
    min-height: 1px;
    
}
 .steps .col-md-5,
  .steps .col-sm-5,
  .steps .col-lg-5  {
  float: left;
}

  .steps .col-md-5,
  .steps .col-sm-5,
  .steps .col-lg-5 {
    width: 20%;
  }


/*---------------End Team Page--------------------*/

/*---------------Start Bulk Action Button css--------------------*/
.bulk label{
    position: relative;
    float: left;
    padding: 7px 0px 2px 0px;
	margin: 0px;
	font-size: 11px;
}
.bulk .pipe{
	position: relative;
    float: left;
	padding: 7px 2px 2px 2px;
	font-size: 11px;
}
.bulk .btn{padding: 7px 6px 2px 6px;font-size: 11px;}
@media screen and (max-width: 767px) {
	.bulk .btn, .bulk .pipe, .export .btn{padding:7px 1px 2px 1px;}
	
}
@media screen and (max-width: 600px) {
	.table-toolbar {box-shadow:none;}
}

.export .btn-link {  color: #FF9D4E; font-size: 11px;padding:7px 5px 0px 5px; text-decoration: none;}
/*------------------End Bulk Action Button css--------*/

/*------------------Start success/ error message--------*/
ul.error {
	list-style: inside;
	margin: 0px;
	padding:0px;
}
ul.error li {
    margin: 0px;
	padding: 0 0 0 5px;
}
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.alert-success .icon, .alert-danger .icon{margin-right:3px;}
.over-form{
    bottom: auto;
    top: 30%;
	left: 20%;
	position: absolute;
	z-index: 9999;
}
@media screen and (max-width: 600px) {
	.over-form{
		left: 3%;
		right: 3%;
	}
}
/*------------------End success/ error message--------*/

/*--------------Start Team Section---------------------*/
 .heading{background: #222;color:#fff; display: block;padding: 9px 7px 8px 15px; position: relative;}
/*@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.heading{padding: 15px 7px 7.4px 15px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
	.heading{padding: 15px 7px 7.4px 15px;}
}*/
    .heading h5{margin: 0px;font-size: 15px;font-weight: normal; line-height: normal;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 85%;}
    .heading:after, .heading:before {
	 content: " ";
	 display: table
}
   .heading:after {
	clear: both
   }
.heading .refine_mbutton{position: absolute; bottom: 0px !important; right: 2px; height: 0px; width: 0px; padding: 15px 18px;}
.course-card {
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
	position: relative;
	margin-top: 10px;
}
.course-card:hover {cursor: pointer; background-color: #222; color:#fff;}
.bg-highlight{cursor: pointer; background-color: #222; color:#fff;}
.course-card .overlay{
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 7px 13px;
    text-align: right;
	display: none;
}
.course-card .overlay .custom-control{padding-left: 0px;}
/*.course-card .overlay .close{color:#fff;opacity:inherit;}*/
.course-card:hover .overlay{ display: block;}
.course-card .media{margin: 0px;padding: 10px; }
.course-card .media-heading{
	font-weight: bold;
	display: block;
    display:-webkit-box;
    -webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp:2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
	height: 28px;
	min-height: 28px;
}

.course-card .media-body small{
	display: block;
    display:-webkit-box;
    -webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp:2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
	height: 32px;
	min-height: 32px;
	/*white-space: nowrap;*/
	/*width: 170px;*/
	}
/*.text-style{
	display:inline-block;
    max-width: 185px;
	overflow-x: hidden;
}*/
.bg-violet { 
	background-color: #6963C7;
    border-color:#6963C7;
    color: #fff;
}
@media (min-width:1200px) {
.course-col .padding-left {padding-left: 5px;}
.course-col .padding-right{padding-right: 5px;}
}
.btn-fn { width: 100%;float: left;  margin:100px 0 0 0;  text-align: center;}
.btn-fn .btn {width: 100px; margin-bottom: 10px; font-size:18px;}
.mob-btn-fn { width: 100%;float: left;padding: 20px;  text-align: center;}
.mob-btn-fn .btn {width: 100px; margin-right: 10px;font-size:18px;}
@media (max-width:850px) and (min-width:767px) {
	.heading{padding: 10px 7px 8px 10px;}
	.heading h5{font-size: 14px; }
	.btn-fn .btn {/*margin-left: -10%;*/ width: 100%; font-size: 11px;padding:5px; }
}

/*.course-col .refine_mbutton {bottom: -0.5px !important;}*/
  /*.filter-frm .Cus_card{position:unset;}*/
/*--------------End Team Section-----------------------*/

/*---------------Start Full Screen------------------*/
.panel-fullscreen {
   /* display: block;*/
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
	margin: 0px !important;
	padding: 0px !important;
	background: #fff;
}
/*---------------end Full Screen------------------*/


/* Only for Internet Explorer css IE 10+ */ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
	.step-icon {line-height: 59px;}
}
/* Only for Internet Explorer css IE 9 */ 
@media \0screen\,screen\9 { 
	.step-icon {line-height: 59px;}
}

/*------------------Start Add Webinar-------------------*/
.add-webinar .custom-control{padding-left: 0px;}
.add-webinar .img-detail{
	background-color: #333;
    padding: 10px;
	text-align: center;
}
.add-webinar .img-detail h4{color:#fff; font-size:16px;}
.add-webinar .img-detail p{color:#777;font-size:11px; line-height:14px;}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   .add-webinar .img-detail h4 {font-size: 11px;}
	  .add-webinar .img-detail p {font-size: 9px;}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	 .add-webinar .img-detail h4 {font-size: 11px;}
	  .add-webinar .img-detail p {font-size: 9px;}
}
@media (min-width:768px) {
.add-webinar .padding{padding-left: 0px;padding-right: 15px;}
}
@media (max-width:767px) {
.add-webinar .padding{padding:0px 15px;}
}
.add-webinar .minus-margin{margin:-20px -20px 15px;}
.add-webinar .upload-sec {
    padding: 8% 4%;
    background-color: #333;
    color: #fff;
    margin: 0px;
}

#calendar {
    width:100%;
   
  }
/*------------------End Add Webinar-------------------*/


/*------------------------Vertical Tabs & Action Plan----------------*/
.vsteps {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
	border-left: 1px solid #F5F5F5;
	background-color: #FBFBFB;
}
.vstep {
    color: #777;
    display: block;
    padding: 0px;
	height: 100px;
	text-align: center;
	border-bottom: 1px solid #F5F5F5;
	margin: 10px 0px;
}
.vstep-segment {
    display: block;
    position: relative;
}
.vstep-segment:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 100px;
    position: absolute;
    bottom: 0;
	top:100px;
	left:50%;
    -webkit-transform: translateY(-160%);
    -ms-transform: translateY(-160%);
    -o-transform: translateY(-160%);
    transform: translateY(-160%);
    width: 2px;
}
.vstep:first-child .vstep-segment:after {
    display: none
}
.vstep-icon {
    background-color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: #FF9B43;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 30px;
    height: 48px;
    width: 48px;
	line-height: 47px;
	
}
.vstep.active .vstep-icon {
    background-color: #fff;
    color: #FF9B43;
}
.vstep.active~.vstep .vstep-segment:after {
    background-color: #ccc
}
.vstep.active~.vstep .step-icon {
    background-color: #fff;
    border-color: #ccc;
    color: #ccc
}

.vstep-content .left{ right: 55%; position: absolute;font-size: 11px;}
.vstep-content .right{ left: 55%; position: absolute;font-size: 11px;}
.vfont{ font-size: 24px;}

.action-subtitle {background-color: #EEEEEE; padding: 10px 20px;}
.action-subtitle .media{margin-top: 0px;}
.action-subtitle .media-heading{margin-top: 5px; margin-bottom: 0px;}
.opt-box {width: 100%;border: 1px solid #ddd;margin: 20px 0 0; position: relative; padding: 20px;}
.opt-box .up-text{ background: #fff; position: absolute; top:-17px;padding: 0px 5px;}
.field-box {width: 100%;border: 2px solid #ddd;background-color: #FAFAFA;padding:0px 10px 10px;position: relative;}
.field-box .up-text{ position: absolute; top:-15px;padding: 0px 5px;right:10px;}
.field-box .plus{ font-size:20px; color: #777777; }
.field-box .plus:hover{color:#FF9D4E;}
.field-box .minus{font-size:20px;}
.field-box .minus:hover{color: #777777;}
.ad-margin{margin-top: 40px;}
.ad-plus {font-size: 20px;color: #777777;}
.ad-plus:hover {color:#FF9D4E;}
.ad-minus {font-size: 20px;}
.ad-minus:hover{color: #777777;}
@media (max-width:480px) {
	.opt-box {padding: 10px;}
	.opt-box .up-text{top:-19px;}
	.field-box .up-text{top:-11px;}
	.field-box .plus, .field-box .minus{font-size: 15px;}
	.ad-plus, .ad-minus {font-size: 15px;}
}
@media (max-width:767px) {
	.vsteps {border-left: none;background-color:#fff;}
	.vstep {border-bottom: none;}
}
@media (min-width:768px) {
.learner-cap .padding{padding-left: 0px;padding-right: 15px;}
}

/*----------------------------End----------------------*/

/*------------------Start Action Plan Recommendation-----------*/
.action-detail {background-color:#F8F8F8; padding: 10px; margin-bottom: 10px; float: left; width: 100%;}
.action-detail h2{font-size: 20px; margin: 0px 0px 5px 0px;}
.content-detail{padding: 5px 0px;}
.content-detail h4{font-size: 14px;}
.content-detail p{text-align: justify; padding-bottom: 20px;}
.content-detail h3{font-size: 17px;margin: 0px 0px 5px 0px;}
/*.content-detail h3 span{font-size: 13px; font-weight:normal;}*/
.action-detail strong{vertical-align: middle;}
.add-comment .modal-body{padding: 5px;}
.report-info-highlight { list-style-type: none;padding:0px; margin:0px;}
.report-info-highlight li{
    display: inline;
    padding:0px 10px;
    border-left: solid 1px #ddd;
}
.report-info-highlight li:first-child{
    border-left: none;
}
/*-------------------End---------------------------------*/

/*------------------Start Create Test-----------*/
.test-sec{padding-top: 40%;}
.create-test {
	display: block;
    padding: 20px;
    position: relative;
	background: #F2F1F1;
	color: #777;
	text-align: center;
}
.create-test:hover {
	background: #FF9D4E;
	color: #fff;
}
.create-test .t-i {font-size: 120px;}
.test-title{ margin: 10px 0px; text-align: center; font-size: 20px;}
@media (max-width:1288px) and (min-width:1024px) {
	.create-test .t-i {font-size: 100px;}
}
@media (max-width:1023px) and (min-width:768px) {
	.test-sec{padding-top: 30%;}
}
@media (max-width:480px) {
	.create-test .t-i {font-size: 70px;}
	.test-title{font-size: 15px;}
}
/*------------------End Create Test-----------*/

/*------------------Start Test Deatils-----------*/
.sec-parameter .btn-gray {background-color:#ccc;  color:#777;border-color:#ccc;line-height: normal;}
.sec-parameter .btn-gray .icon{font-size: 20px;}
.sec-parameter .btn-gray:hover{ background-color:#FF9D4E;  color:#fff;border-color:#FF9D4E;}
a.add-parameter {text-decoration: underline;color: #777; font-weight: bold;}
a.add-parameter .icon{text-decoration: underline;}
a.add-parameter:hover{color:#FF9D4E;}
.total-parameter {background-color: #CCCCCC; padding: 8px 20px; text-align: right;}
.total-parameter label{color: #333; font-size: 16px; font-weight: normal;margin: 0px;padding: 0px; line-height: normal;}
@media (max-width:480px) {
.sec-parameter .btn-gray .icon{font-size: 15px;}
.sec-parameter .btn{padding: 8px 6px;}
.sec-parameter .ad-minus{line-height: 2;}
}
/*------------------End Test Deatils-----------*/

/*------------------Start Test Setting-----------*/
.test-setting h3{ font-size: 16px; color:#f8991d;margin:0px 0px 10px; font-weight: normal;}
.setting-list{padding-left: 0px; list-style: none; margin-bottom: 30px;width: 100%;
	float: left;}
.setting-list li {
    position: relative;
    padding:10px 0px 10px 15px;
	/*margin-bottom: 10px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #ccc;*/
	width: 100%;
	float: left;
	
}
.setting-list li:before {
	content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../img/list-icon.png);
    left: 0px !important;
}
.setting-list .form-control{
	display:inline-block;
    width: 40px;
    height: 22px;
    padding:6px;
	text-align: center;
	 vertical-align: middle;   
}
.setting-list .btn{ padding: 2px 10px;}
.btn-gray {
    background-color: #F0F0F0;
    color: #777;
	border:1px solid #ccc;
}

.btn-gray:hover {
    background-color:#FF9D4E;
    border-color: #FF9D4E;
    color: #fff
}
.btn-gray.active, .btn-gray:active{
    background-color: #FF9D4E;
    border-color: #FF9D4E;
    color: #fff
}
.btn-gray.focus, .btn-gray:focus {
    background-color: #FF9D4E;
    border-color: #FF9D4E;
    color: #fff
}
.setting-list li .pull-left{ width: 100%;}
.setting-list li .pull-right{ width: 100%; padding-top: 5px;}
@media (min-width:1360px) {
.setting-list li .pull-left{ width: 60%;}
.setting-list li .pull-right{ width: 40%; text-align: right;padding-top: 0px;}
.setting-list li .pull-right .r1{ position: absolute;right: 0px;}
.setting-list li .pull-right .r2{ position: absolute;right: 110px;}
}

.email-section {margin:30px 0px; border: 1px solid #f8991d; width: 100%;float: left; position: relative;}

/*.email-section:after {
content: '';
display: block;
position: absolute;
top: 3%;
left:-9px;
width: 15px;
height: 15px; 
background: #FFFFFF;
border-left:1px solid #f8991d;
border-top:1px solid #f8991d;
-moz-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
transform:rotate(-45deg);
}
*/
@media (min-width:768px) {
.e11:after, .e12:after, .e13:after, .e14:after, .e15:after, .e16:after {
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-right: 16px solid #fff;
    border-top: 16px solid rgba(0, 0, 0, 0);
    left: -15px;
}

.e11:after, .e12:after, .e13:after, .e14:after, .e15:after, .e16:after {
    border-bottom: 16px solid transparent;
    border-right: 16px solid #fff;
    border-top: 16px solid transparent;
    left: -15px;
}

.e11:before, .e12:before, .e13:before, .e14:before, .e15:before, .e16:before {
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-right: 16px solid #f8991d;
    border-top: 16px solid rgba(0, 0, 0, 0);
    left: -16px;
}
.e11:before, .e12:before, .e13:before, .e14:before, .e15:before, .e16:before {
    border-bottom: 16px solid transparent;
    border-right: 16px solid #f8991d;
    border-top: 16px solid transparent;
    left: -16px;
}

.e11:before, .e11:after, .e12:before, .e12:after, .e13:before, .e13:after, .e14:before, .e14:after, .e15:before, .e15:after, .e16:before, .e16:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    -moz-transform: translateY(-50%);
	 -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.e11:before, .e11:after, .e12:before, .e12:after, .e13:before, .e13:after, .e14:before, .e14:after, .e15:before, .e15:after, .e16:before, .e16:after  {
    margin-right: auto;
    right: auto;
}
}
@media (min-width:1360px) {
.e11:before, .e11:after {
	top: 4%;
}
.e12:before, .e12:after {
	top: 20%;
}
.e13:before, .e13:after {
	top: 28%;
}
.e14:before, .e14:after {
	top: 36%;
}
.e15:before, .e15:after {
	top: 44%;
}
.e16:before, .e16:after {
	top: 52%;
}
}
@media (max-width:1359px) and (min-width:1100px) {
.e11:before, .e11:after {
	top: 4%;
}
.e12:before, .e12:after {
	top: 33%;
}
.e13:before, .e13:after {
	top: 45%;
}
.e14:before, .e14:after {
	top: 60%;
}
.e15:before, .e15:after {
	top: 77%;
}
.e16:before, .e16:after {
	top: 90%;
}
}
@media (max-width:1099px) and (min-width:768px) {
.e11:before, .e11:after {
	top: 12%;
}
.e12:before, .e12:after {
	top: 43%;
}
.e13:before, .e13:after {
	top: 58%;
}
.e14:before, .e14:after {
	top: 71%;
}
.e15:before, .e15:after {
	top: 87%;
}
.e16:before, .e16:after {
	top: 96%;
}
}
.email-heading {background-color: #EFEFEF; padding: 10px; width: 100%; float: left; font-size: 16px; color:#777;}
.email-subheading {background-color: #EFEFEF; padding: 5px 15px; width: 100%; float: left; font-size: 14px; color:#777;}
.email-body { width: 100%; padding: 15px;float: left;}
.shortcode a{color: #777;}
/*------------------End Test Setting-----------*/