
.upload_files:hover {
    cursor: pointer;
}

#proimg{
	height:130px;
	width:130px;
}

.notifymsg{
    width: 38%;
    animation: fadeIn 1s ease-in both;
    -webkit-animation-name: fadeInRight;
     animation: fadeOut 10s ease-out both; 
     -webkit-animation-name: fadeOutRight; 
}

#edit_overlay{
    background: #ece7e700;
    display: block;        
    position: absolute;  
    top: 0;                
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.7;
}